# OCR och bildbehandling
easyocr==1.7.1
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
opencv-python-headless==4.9.0.80
# OCR beroenden (för pytesseract och pdf2image)
pytesseract==0.3.10
pdf2image==1.17.0
Pillow==10.3.0

# UI och gränssnitt
streamlit==1.44.0
python-dotenv==1.0.1

# Dataanalys
pandas==2.2.3
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
scikit-learn==1.4.2
openpyxl==3.1.2

# LLM + RAG
openai==1.79.0
langchain==0.1.20
chromadb==0.4.24
tiktoken==0.6.0

# Text- & PDF-analys
PyMuPDF==1.25.3
pdfplumber==0.11.0
fpdf==1.7.2

# Finansiella data
yfinance==0.2.33
tesseract-ocr
poppler-utils
tesseract-ocr
tesseract-ocr-swe
